@font-face { font-family: UniSansHeavy; src: url('assets/font/uni-sans/UniSansHeavy.otf');}
body { font-family: UniSansHeavy, sans-serif; }

#ballz-intro-logo{ width: 100%; height: auto; }
.intro { font-size: 1.250em; font-style: italic; margin: 0; }

svg { display: block; fill: transparent; margin-left: auto; margin-right: auto; animation: zoomOutDown 0.3s ease-in-out forwards; animation-delay: 1.2s;}
svg .red{ fill:#E61717; stroke:#E61717; stroke-width:1; stroke-dasharray:745; stroke-dashoffset:745; }
svg .triangle.red{ fill: #E61717; stroke: #ffffff; stroke-width:1; animation: strokeRed .3s linear forwards;}
svg .triangle.white{ fill: #ffffff; stroke:#ffffff; stroke-width:2; }
svg .triangle.white.top{ animation: topFiller .3s linear forwards;}
svg .triangle.white.bottom{ animation: bottomFiller .3s linear forwards; animation-delay: .241s; }

/* Z animation start */
@keyframes strokeRed {
  0%   { fill:#ffffff; }
  1%   { fill:#E61717; }
  100% { fill:#E61717;}
}
@keyframes topFiller {
  0%   { transform: rotate(0deg); transform-origin: top right; fill: #ffffff; stroke-width:1;}
  99% {fill: #ffffff; stroke-width:1;}
  100% { transform: rotate(-55deg); transform-origin: top right; fill: transparent; stroke-width:0;}
}
@keyframes bottomFiller {
  0%   { transform: rotate(0deg); transform-origin: bottom left; fill: #ffffff; stroke-width:1;}
  99% {fill: #ffffff; stroke-width:1;}
  100% { transform: rotate(34deg); transform-origin: bottom left; fill:transparent; stroke-width:0;}
}
/* Z animation end */

/* logo to line animation start */
@keyframes zoomOutDown {
  20% { transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
  30% { transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
  45% { transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
  49% { transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
  50%{ transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
  100%{ transform: scale3d(0.8, .02, .02) translate3d(0, 0, 0); background:#E61717; }
}
/* logo to line animation end */



.motto{position: absolute;text-align: center;left: 50%;}
.motto h3{color: black;font-size: 120px; margin:0;}

.motto.top{top: 50%;margin-top: -153px;margin-left: -402.365px;}
.motto.top h3{opacity: 0; animation: mottoMoveUp .3s linear forwards; animation-delay: 2s;}
.motto.bottom{bottom: 50%;margin-bottom: -153px;margin-left: -383.525px;}
.motto.bottom h3{opacity: 0; animation: mottoMoveDown .3s linear forwards; animation-delay: 2.5s;}

/* motto up and down flip animation start */
@keyframes mottoMoveUp {
  0% { opacity: 0; transform:translate3d(0, 323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; transform: translate3d(0, 0, 0);}
}
@keyframes mottoMoveDown {
  0% { opacity: 0; transform: translate3d(0, -323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; transform: translate3d(0, 0, 0);}
}
/* motto flip animation end */
