body{ background: #fff; }
#ballz-intro-logo{ width: 100%; height: auto; }


.intro { font-size: 1.250em; font-style: italic; margin: 0; }

svg { width: 25em; display: block; fill: transparent; margin-top: 2em; margin-left: auto; margin-right: auto;
  /*stroke: #000;stroke-width: 0;stroke-dasharray: 745;animation: stroke 5s linear forwards;*/
}

svg .red{
  fill:#E61717; stroke:#E61717; stroke-width:1; stroke-dasharray:745; stroke-dashoffset:745;
}
svg .triangle.red{
  fill: #E61717; stroke: #ffffff; stroke-width:1;
  animation: strokered 3s linear forwards;
}
svg .triangle.white{ fill: #ffffff; stroke:#ffffff; stroke-width:2; }

svg .triangle.white.top{
  animation: topfiller 0.3s linear forwards;
  /*animation-delay: 2s;*/
}
svg .triangle.white.bottom{
  animation: bottomfiller 0.3s linear forwards;
  /*animation-delay: 0.241s;*/
}

@keyframes strokered {
  0%   { fill:#ffffff; }
  1%   { fill:#E61717; }
  100% { fill:#E61717;}
}
@keyframes topfiller {
  0%   { transform: rotate(0deg); transform-origin: top right; fill: #ffffff; stroke-width:1;}
  99% {fill: #ffffff; stroke-width:1;}
  100% { transform: rotate(-55deg); transform-origin: top right; fill: transparent; stroke-width:0;}
}
@keyframes bottomfiller {
  0%   { transform: rotate(0deg); transform-origin: bottom left; fill: #ffffff; stroke-width:1;}
  99% {fill: #ffffff; stroke-width:1;}
  100% { transform: rotate(34deg); transform-origin: bottom left; fill:transparent; stroke-width:0;}
}
