@font-face { font-family: UniSansHeavy; src: url('assets/font/uni-sans/UniSansHeavy.otf');}
body { font-family: UniSansHeavy, sans-serif; }

#ballz-intro-logo{ width: 100%; height: auto; }
.intro { font-size: 1.250em; font-style: italic; margin: 0; }

svg {
  display: block; fill: transparent; margin-left: auto; margin-right: auto;
  -webkit-animation: zoomOutDown 0.3s ease-in-out 2.5s forwards; ;
  -moz-animation: zoomOutDown 0.3s ease-in-out 2.5s forwards; ;
  -o-animation: zoomOutDown 0.3s ease-in-out 2.5s forwards; ;
  animation: zoomOutDown 0.3s ease-in-out 2.5s forwards; ;
}
svg .red{ fill:#E61717; stroke:#E61717; stroke-width:1; stroke-dasharray:745; stroke-dashoffset:745; }
svg .triangle.red{
  fill: #ffffff; stroke: #ffffff; stroke-width:1;
  -webkit-animation: strokeRed .3s linear 0.5s forwards;
  -moz-animation: strokeRed .3s linear 0.5s forwards;
  -o-animation: strokeRed .3s linear 0.5s forwards;
  animation: strokeRed .3s linear 0.5s forwards;
}
svg .triangle.white{ fill: #ffffff; stroke:#ffffff; stroke-width:2; }
svg .triangle.white.top{
  -webkit-animation: topFiller .2s linear 0.5s forwards;
  -moz-animation: topFiller .2s linear 0.5s forwards;
  -o-animation: topFiller .2s linear 0.5s forwards;
  animation: topFiller .2s linear 0.5s forwards;
}
svg .triangle.white.bottom{
  -webkit-animation: bottomFiller .2s linear 0.631s forwards;
  -moz-animation: bottomFiller .2s linear 0.631s forwards;
  -o-animation: bottomFiller .2s linear 0.631s forwards;
  animation: bottomFiller .2s linear 0.631s forwards;
}

/* Z animation start */
@-webkit-keyframes strokeRed {
  0%   { fill:#ffffff; }
  1%   { fill:#E61717; }
  100% { fill:#E61717; stroke:#E61717; }
}
@-moz-keyframes strokeRed {
  0%   { fill:#ffffff; }
  1%   { fill:#E61717; }
  100% { fill:#E61717; stroke:#E61717; }
}
@-o-keyframes strokeRed {
  0%   { fill:#ffffff; }
  1%   { fill:#E61717; }
  100% { fill:#E61717; stroke:#E61717; }
}
@keyframes strokeRed {
  0%   { fill:#ffffff; }
  1%   { fill:#E61717; }
  100% { fill:#E61717; stroke:#E61717; }
}

@-webkit-keyframes topFiller {
  0%   { -webkit-transform: rotate(0deg); -webkit-transform-origin: top right; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { -webkit-transform: rotate(-55deg); -webkit-transform-origin: top right; fill: transparent; stroke-width:0;}
}
@-moz-keyframes topFiller {
  0%   { -moz-transform: rotate(0deg); -moz-transform-origin: top right; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { -moz-transform: rotate(-55deg); -moz-transform-origin: top right; fill: transparent; stroke-width:0;}
}
@-o-keyframes topFiller {
  0%   { -webkit-transform: rotate(0deg); -webkit-transform-origin: top right; transform: rotate(0deg); transform-origin: top right; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { -webkit-transform: rotate(-55deg); -webkit-transform-origin: top right; transform: rotate(-55deg); transform-origin: top right; fill: transparent; stroke-width:0;}
}
@keyframes topFiller {
  0%   { transform: rotate(0deg); transform-origin: top right; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { transform: rotate(-55deg); transform-origin: top right; fill: transparent; stroke-width:0;}
}

@-webkit-keyframes bottomFiller {
  0%   { -webkit-transform: rotate(0deg); -webkit-transform-origin: bottom left; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { -webkit-transform: rotate(34deg); -webkit-transform-origin: bottom left; fill:transparent; stroke-width:0;}
}
@-moz-keyframes bottomFiller {
  0%   { -moz-transform: rotate(0deg); -moz-transform-origin: bottom left; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { -moz-transform: rotate(34deg); -moz-transform-origin: bottom left; fill:transparent; stroke-width:0;}
}
@-o-keyframes bottomFiller {
  0%   { -webkit-transform: rotate(0deg); -webkit-transform-origin: bottom left; transform: rotate(0deg); transform-origin: bottom left; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { -webkit-transform: rotate(34deg); -webkit-transform-origin: bottom left; transform: rotate(34deg); transform-origin: bottom left; fill:transparent; stroke-width:0;}
}
@keyframes bottomFiller {
  0%   { transform: rotate(0deg); transform-origin: bottom left; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { transform: rotate(34deg); transform-origin: bottom left; fill:transparent; stroke-width:0;}
}
/* Z animation end */

/* logo to line animation start */
@-webkit-keyframes zoomOutDown {
  20% { -webkit-transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
  30% { -webkit-transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
  45% { -webkit-transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
  49% { -webkit-transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
  50%{ -webkit-transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
  100%{ -webkit-transform: scale3d(0.7, .02, .02) translate3d(0, 0, 0); background:#E61717; }
}
@-moz-keyframes zoomOutDown {
  20% { -moz-transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
  30% { -moz-transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
  45% { -moz-transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
  49% { -moz-transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
  50%{ -moz-transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
  100%{ -moz-transform: scale3d(0.7, .02, .02) translate3d(0, 0, 0); background:#E61717; }
}
@-o-keyframes zoomOutDown {
  20% { -webkit-transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0); transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
  30% { -webkit-transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
  45% { -webkit-transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
  49% { -webkit-transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
  50%{ -webkit-transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
  100%{ -webkit-transform: scale3d(0.7, .02, .02) translate3d(0, 0, 0); transform: scale3d(0.8, .02, .02) translate3d(0, 0, 0); background:#E61717; }
}
@keyframes zoomOutDown {
  20% { transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
  30% { transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
  45% { transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
  49% { transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
  50%{ transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
  100%{ transform: scale3d(0.7, .02, .02) translate3d(0, 0, 0); background:#E61717; }
}
/* logo to line animation end */



.motto { position: absolute;text-align: center;left: 50%; }
.motto h3 {color: black;font-size: 12vmax;margin:0;line-height: 18vmax;}

.motto.top {
  top: 50%;
  margin-top: -16vmax;
  margin-left: -35.6vmax;
  opacity: 0;
  -webkit-animation: mottoMoveUp .3s linear 3s forwards;
  -moz-animation: mottoMoveUp .3s linear 3s forwards;
  -o-animation: mottoMoveUp .3s linear 3s forwards;
  animation: mottoMoveUp .3s linear 3s forwards;
  height: inherit;
  width: inherit;
}
.motto.bottom {
  bottom: 50%;
  margin-bottom: -18.3vmax;
  margin-left:-35.1vmax;
  opacity: 0;
  -webkit-animation: mottoMoveDown .3s linear 3.5s forwards;
  -moz-animation: mottoMoveDown .3s linear 3.5s forwards;
  -o-animation: mottoMoveDown .3s linear 3.5s forwards;
  animation: mottoMoveDown .3s linear 3.5s forwards;
}

/* motto up and down flip animation start */
@-webkit-keyframes mottoMoveUp {
  0% { opacity: 0; -webkit-transform:translate3d(0, 323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0);}
}
@-moz-keyframes mottoMoveUp {
  0% { opacity: 0; -moz-transform:translate3d(0, 323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; -moz-transform: translate3d(0, 0, 0);}
}
@-o-keyframes mottoMoveUp {
  0% { opacity: 0; -webkit-transform:translate3d(0, 323px, 0); transform:translate3d(0, 323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
}
@keyframes mottoMoveUp {
  0% { opacity: 0; transform:translate3d(0, 323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; transform: translate3d(0, 0, 0);}
}

@-webkit-keyframes mottoMoveDown {
  0% { opacity: 0; -webkit-transform: translate3d(0, -323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0);}
}
@-moz-keyframes mottoMoveDown {
  0% { opacity: 0; -moz-transform: translate3d(0, -323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; -moz-transform: translate3d(0, 0, 0);}
}
@-o-keyframes mottoMoveDown {
  0% { opacity: 0; -webkit-transform: translate3d(0, -323px, 0); transform: translate3d(0, -323px, 0); }
  80% { opacity: 0; }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}
@keyframes mottoMoveDown {
  0% { opacity: 0; transform: translate3d(0, -323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; transform: translate3d(0, 0, 0);}
}
/* motto flip animation end */


@keyframes glitchRed {
  /*0% {
    clip: rect(47px, 9999px, 179px, 0);
  }
  5% {
    clip: rect(65px, 9999px, 101px, 0);
  }
  10% {
    clip: rect(84px, 9999px, 151px, 0);
  }
  15% {
    clip: rect(94px, 9999px, 144px, 0);
  }
  20% {
    clip: rect(14px, 9999px, 122px, 0);
  }
  25% {
    clip: rect(6px, 9999px, 198px, 0);
  }
  30% {
    clip: rect(17px, 9999px, 168px, 0);
  }
  35% {
    clip: rect(15px, 9999px, 184px, 0);
  }
  40% {
    clip: rect(98px, 9999px, 141px, 0);
  }
  45% {
    clip: rect(34px, 9999px, 170px, 0);
  }
  50% {
    clip: rect(55px, 9999px, 114px, 0);
  }
  55% {
    clip: rect(20px, 9999px, 159px, 0);
  }
  60% {
    clip: rect(63px, 9999px, 197px, 0);
  }
  65% {
    clip: rect(49px, 9999px, 120px, 0);
  }
  70% {
    clip: rect(80px, 9999px, 155px, 0);
  }
  75% {
    clip: rect(39px, 9999px, 163px, 0);
  }
  80% {
    clip: rect(70px, 9999px, 158px, 0);
  }
  85% {
    clip: rect(30px, 9999px, 162px, 0);
  }
  90% {
    clip: rect(63px, 9999px, 107px, 0);
  }
  95% {
    clip: rect(97px, 9999px, 157px, 0);
  }
  100% {
    clip: rect(89px, 9999px, 132px, 0);
  }*/

  20% {
    clip: rect(0, 0, 0, 0);
  }
  39% {
    clip: rect(0, 0, 0, 0);
  }
  40% {
    clip: rect(65px, 9999px, 101px, 0);
  }
  41% {
    clip: rect(84px, 9999px, 151px, 0);
  }
  42% {
    clip: rect(14px, 9999px, 122px, 0);
  }
  43% {
    clip: rect(15px, 9999px, 184px, 0);
  }
  44% {
    clip: rect(0, 0, 0, 0);
  }
  60% {
    clip: rect(0, 0, 0, 0);
  }

}
.motto h3:after {
  content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: black;
    /*background: white;*/
    overflow: hidden;
    clip: rect(0, 0, 0, 0);

}
.motto.top .content h3:after{
  animation: glitchRed 2s infinite linear alternate-reverse;
}
.motto.bottom .content h3:after{
  animation: glitchRed 2s infinite 3s linear alternate-reverse;
}

@keyframes glitchBlue {
  /*
0% {clip: rect(54px, 9999px, 18px, 0);}
5% {clip: rect(11px, 9999px, 164px, 0);}
10% {clip: rect(93px, 9999px, 11px, 0);}
15% {clip: rect(90px, 9999px, 186px, 0);}
20% {clip: rect(25px, 9999px, 142px, 0);}
25% {clip: rect(76px, 9999px, 195px, 0);}
30% {clip: rect(74px, 9999px, 154px, 0);}
35% {clip: rect(87px, 9999px, 177px, 0);}
40% {clip: rect(19px, 9999px, 180px, 0);}
45% {clip: rect(28px, 9999px, 152px, 0);}
50% {clip: rect(3px, 9999px, 174px, 0);clip: rect(54px, 9999px, 18px, 0);}
55% {clip: rect(38px, 9999px, 147px, 0);}
60% {clip: rect(95px, 9999px, 11px, 0);}
65% {clip: rect(51px, 9999px, 120px, 0);}
70% {clip: rect(53px, 9999px, 15px, 0);}
75% {clip: rect(64px, 9999px, 113px, 0);}
80% {clip: rect(95px, 9999px, 131px, 0);}
85% {clip: rect(39px, 9999px, 150px, 0);}
90% {clip: rect(75px, 9999px, 180px, 0);}
95% {clip: rect(37px, 9999px, 196px, 0);}
100% {clip: rect(89px, 9999px, 180px, 0);}
  */

  20% {
    clip: rect(0, 0, 0, 0);
  }
  39%{
    clip: rect(14px, 9999px, 120px, 0)
  }
  40% {
    clip: rect(54px, 9999px, 180px, 0);
  }
  41% {
    clip: rect(11px, 9999px, 164px, 0);
  }
  42% {
    clip: rect(93px, 9999px, 110px, 0);
  }
  43% {
    clip: rect(90px, 9999px, 186px, 0);
  }
  44%{
    clip: rect(23px, 9999px, 120px, 0);
  }
  60% {
    clip: rect(0, 0, 0, 0);
  }
}
.motto h3:before {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 blue;
  top: 0;
  color: black;
  /*background: white;*/
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.motto.top .content h3:before{
  animation: glitchBlue 1s infinite linear alternate-reverse;
}
.motto.bottom .content h3:before{
  animation: glitchBlue 1s infinite 4s linear alternate-reverse;
}




.motto.top .content{
  -webkit-animation: jerkwhole 4s infinite 7s linear alternate-reverse;
  position:relative;
}
.motto.bottom .content{
  -webkit-animation: jerkwhole 4s infinite 11s linear alternate-reverse;
  position:relative;
}
@-webkit-keyframes jerkwhole {
  30% {  }
  40% { opacity:1; top:0; left:0;  -webkit-transform:scale(1,1);  -webkit-transform:skew(0,0);}
  41% { opacity:0.8; top:0px; left:-100px; -webkit-transform:scale(1,1.2);  -webkit-transform:skew(50deg,0);}
  42% { opacity:0.8; top:0px; left:100px; -webkit-transform:scale(1,1.2);  -webkit-transform:skew(-80deg,0);}
  43% { opacity:1; top:0; left:0; -webkit-transform:scale(1,1);  -webkit-transform:skew(0,0);}
  65% { }
}



@media  (max-width:767px){
  @-webkit-keyframes zoomOutDown {
    20% { -webkit-transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
    30% { -webkit-transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
    45% { -webkit-transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
    49% { -webkit-transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
    50%{ -webkit-transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
    100%{ -webkit-transform: scale3d(.85, .02, .02) translate3d(0, 0, 0); background:#E61717; }
  }
  @-moz-keyframes zoomOutDown {
    20% { -moz-transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
    30% { -moz-transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
    45% { -moz-transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
    49% { -moz-transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
    50%{ -moz-transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
    100%{ -moz-transform: scale3d(.85, .02, .02) translate3d(0, 0, 0); background:#E61717; }
  }
  @-o-keyframes zoomOutDown {
    20% { -webkit-transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0); transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
    30% { -webkit-transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
    45% { -webkit-transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
    49% { -webkit-transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
    50%{ -webkit-transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
    100%{ -webkit-transform: scale3d(.85, .02, .02) translate3d(0, 0, 0); transform: scale3d(0.8, .02, .02) translate3d(0, 0, 0); background:#E61717; }
  }
  @keyframes zoomOutDown {
    20% { transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
    30% { transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
    45% { transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
    49% { transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
    50%{ transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
    100%{ transform: scale3d(.85, .02, .02) translate3d(0, 0, 0); background:#E61717; }
  }

  .motto h3, .motto h3:after, .motto h3:before { font-size: 9vmax; line-height: 17vmax; }
  .motto.top { margin-left: -26.5vmax; margin-top: -15.8vmax; }
  .motto.bottom { margin-left: -26.5vmax; margin-bottom: -17.3vmax }
}
@media (max-width:480px) {
  .motto h3, .motto h3:after, .motto h3:before { font-size:6vmax; line-height: 13vmax; }
  .motto.top { margin-left:-17.5vmax; margin-top: -12vmax;  }
  .motto.bottom { margin-left:-17.5vmax; margin-bottom: -13.5vmax;  }
}
