#ballz-intro-logo{ width: 100%; height: auto; }
.intro { font-size: 1.250em; font-style: italic; margin: 0; }

svg { display: block; fill: transparent; margin-left: auto; margin-right: auto; animation: zoomOutDown 0.3s ease-in-out forwards; animation-delay: 1.2s;}
svg .red{ fill:#E61717; stroke:#E61717; stroke-width:1; stroke-dasharray:745; stroke-dashoffset:745; }
svg .triangle.red{ fill: #E61717; stroke: #ffffff; stroke-width:1; animation: strokeRed .3s linear forwards;}
svg .triangle.white{ fill: #ffffff; stroke:#ffffff; stroke-width:2; }
svg .triangle.white.top{ animation: topFiller .3s linear forwards;}
svg .triangle.white.bottom{ animation: bottomFiller .3s linear forwards; animation-delay: .241s; }

/* Z animation start */
@keyframes strokeRed {
  0%   { fill:#ffffff; }
  1%   { fill:#E61717; }
  100% { fill:#E61717;}
}
@keyframes topFiller {
  0%   { transform: rotate(0deg); transform-origin: top right; fill: #ffffff; stroke-width:1;}
  99% {fill: #ffffff; stroke-width:1;}
  100% { transform: rotate(-55deg); transform-origin: top right; fill: transparent; stroke-width:0;}
}
@keyframes bottomFiller {
  0%   { transform: rotate(0deg); transform-origin: bottom left; fill: #ffffff; stroke-width:1;}
  99% {fill: #ffffff; stroke-width:1;}
  100% { transform: rotate(34deg); transform-origin: bottom left; fill:transparent; stroke-width:0;}
}
/* Z animation end */

/* logo to line animation start */
@keyframes zoomOutDown {
  20% { transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
  30% { transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
  45% { transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
  49% { transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
  50%{ transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
  100%{ transform: scale3d(0.8, .04, .04) translate3d(0, 0, 0); background:#E61717; }
}
/* logo to line animation end */



.motto{position: absolute;text-align: center;left: 50%;}
.motto.top{top: 50%;margin-top: -153px;margin-left: -402.365px; opacity: 0; animation: mottoFlipX .3s linear forwards; animation-delay: 2s; backface-visibility: visible !important;}
.motto.bottom{bottom: 50%;margin-bottom: -153px;margin-left: -400.205px; opacity: 0; animation: mottoFlipX .3s linear forwards; animation-delay: 2.5s; backface-visibility: visible !important;}
.motto h3{color: black;font-size: 120px; margin:0;}

/* motto flip animation start */
@keyframes mottoFlipX {
  0% { opacity: 0; transform: perspective(400px) rotate3d(1, 0, 0, 90deg); animation-timing-function: ease-in; }
  40% { opacity: 1; transform: perspective(400px) rotate3d(1, 0, 0, -20deg); animation-timing-function: ease-in; }
  60% { opacity: 1; transform: perspective(400px) rotate3d(1, 0, 0, 10deg); }
  80% { opacity: 1; transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% { opacity: 1; transform: perspective(400px); }
}
/* motto flip animation end */
