@font-face { font-family: UniSansHeavy; src: url('assets/font/uni-sans/UniSansHeavy.otf');}
body { font-family: UniSansHeavy, sans-serif; }

#ballz-intro-logo{ width: 100%; height: auto; }
.intro { font-size: 1.250em; font-style: italic; margin: 0; }

svg {
  display: block; fill: transparent; margin-left: auto; margin-right: auto;
  -webkit-animation: zoomOutDown 0.3s ease-in-out 1.2s forwards; ;
  -moz-animation: zoomOutDown 0.3s ease-in-out 1.2s forwards; ;
  -o-animation: zoomOutDown 0.3s ease-in-out 1.2s forwards; ;
  animation: zoomOutDown 0.3s ease-in-out 1.2s forwards; ;
}
svg .red{ fill:#E61717; stroke:#E61717; stroke-width:1; stroke-dasharray:745; stroke-dashoffset:745; }
svg .triangle.red{
  fill: #E61717; stroke: #ffffff; stroke-width:1;
  -webkit-animation: strokeRed .3s linear forwards;
  -moz-animation: strokeRed .3s linear forwards;
  -o-animation: strokeRed .3s linear forwards;
  animation: strokeRed .3s linear forwards;
}
svg .triangle.white{ fill: #ffffff; stroke:#ffffff; stroke-width:2; }
svg .triangle.white.top{
  -webkit-animation: topFiller .3s linear forwards;
  -moz-animation: topFiller .3s linear forwards;
  -o-animation: topFiller .3s linear forwards;
  animation: topFiller .3s linear forwards;
}
svg .triangle.white.bottom{
  -webkit-animation: bottomFiller .3s linear .241s forwards;
  -moz-animation: bottomFiller .3s linear .241s forwards;
  -o-animation: bottomFiller .3s linear .241s forwards;
  animation: bottomFiller .3s linear .241s forwards;
}

/* Z animation start */
@-webkit-keyframes strokeRed {
  0%   { fill:#ffffff; }
  1%   { fill:#E61717; }
  100% { fill:#E61717;}
}
@-moz-keyframes strokeRed {
  0%   { fill:#ffffff; }
  1%   { fill:#E61717; }
  100% { fill:#E61717;}
}
@-o-keyframes strokeRed {
  0%   { fill:#ffffff; }
  1%   { fill:#E61717; }
  100% { fill:#E61717;}
}
@keyframes strokeRed {
  0%   { fill:#ffffff; }
  1%   { fill:#E61717; }
  100% { fill:#E61717;}
}

@-webkit-keyframes topFiller {
  0%   { -webkit-transform: rotate(0deg); -webkit-transform-origin: top right; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { -webkit-transform: rotate(-55deg); -webkit-transform-origin: top right; fill: transparent; stroke-width:0;}
}
@-moz-keyframes topFiller {
  0%   { -moz-transform: rotate(0deg); -moz-transform-origin: top right; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { -moz-transform: rotate(-55deg); -moz-transform-origin: top right; fill: transparent; stroke-width:0;}
}
@-o-keyframes topFiller {
  0%   { -webkit-transform: rotate(0deg); -webkit-transform-origin: top right; transform: rotate(0deg); transform-origin: top right; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { -webkit-transform: rotate(-55deg); -webkit-transform-origin: top right; transform: rotate(-55deg); transform-origin: top right; fill: transparent; stroke-width:0;}
}
@keyframes topFiller {
  0%   { transform: rotate(0deg); transform-origin: top right; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { transform: rotate(-55deg); transform-origin: top right; fill: transparent; stroke-width:0;}
}

@-webkit-keyframes bottomFiller {
  0%   { -webkit-transform: rotate(0deg); -webkit-transform-origin: bottom left; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { -webkit-transform: rotate(34deg); -webkit-transform-origin: bottom left; fill:transparent; stroke-width:0;}
}
@-moz-keyframes bottomFiller {
  0%   { -moz-transform: rotate(0deg); -moz-transform-origin: bottom left; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { -moz-transform: rotate(34deg); -moz-transform-origin: bottom left; fill:transparent; stroke-width:0;}
}
@-o-keyframes bottomFiller {
  0%   { -webkit-transform: rotate(0deg); -webkit-transform-origin: bottom left; transform: rotate(0deg); transform-origin: bottom left; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { -webkit-transform: rotate(34deg); -webkit-transform-origin: bottom left; transform: rotate(34deg); transform-origin: bottom left; fill:transparent; stroke-width:0;}
}
@keyframes bottomFiller {
  0%   { transform: rotate(0deg); transform-origin: bottom left; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { transform: rotate(34deg); transform-origin: bottom left; fill:transparent; stroke-width:0;}
}
/* Z animation end */

/* logo to line animation start */
@-webkit-keyframes zoomOutDown {
  20% { -webkit-transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
  30% { -webkit-transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
  45% { -webkit-transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
  49% { -webkit-transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
  50%{ -webkit-transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
  100%{ -webkit-transform: scale3d(0.7, .02, .02) translate3d(0, 0, 0); background:#E61717; }
}
@-moz-keyframes zoomOutDown {
  20% { -moz-transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
  30% { -moz-transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
  45% { -moz-transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
  49% { -moz-transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
  50%{ -moz-transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
  100%{ -moz-transform: scale3d(0.7, .02, .02) translate3d(0, 0, 0); background:#E61717; }
}
@-o-keyframes zoomOutDown {
  20% { -webkit-transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0); transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
  30% { -webkit-transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
  45% { -webkit-transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
  49% { -webkit-transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
  50%{ -webkit-transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
  100%{ -webkit-transform: scale3d(0.7, .02, .02) translate3d(0, 0, 0); transform: scale3d(0.8, .02, .02) translate3d(0, 0, 0); background:#E61717; }
}
@keyframes zoomOutDown {
  20% { transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
  30% { transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
  45% { transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
  49% { transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
  50%{ transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
  100%{ transform: scale3d(0.7, .02, .02) translate3d(0, 0, 0); background:#E61717; }
}
/* logo to line animation end */



.motto { position: absolute;text-align: center;left: 50%; }
.motto h3 { color: black; font-size: 12vmax; margin:0; line-height: 1vmax;}

.motto.top { top: 50%; margin-top: -8vmax; margin-left: -35.6vmax; }
.motto.top h3 {
  opacity: 0;
  -webkit-animation: mottoMoveUp .3s linear 2s forwards;
  -moz-animation: mottoMoveUp .3s linear 2s forwards;
  -o-animation: mottoMoveUp .3s linear 2s forwards;
  animation: mottoMoveUp .3s linear 2s forwards;
}
.motto.bottom { bottom: 50%; margin-bottom:-10.3vmax; margin-left:-35.1vmax; }
.motto.bottom h3 {
  opacity: 0;
  -webkit-animation: mottoMoveDown .3s linear 2.5s forwards;
  -moz-animation: mottoMoveDown .3s linear 2.5s forwards;
  -o-animation: mottoMoveDown .3s linear 2.5s forwards;
  animation: mottoMoveDown .3s linear 2.5s forwards;
}

/* motto up and down flip animation start */
@-webkit-keyframes mottoMoveUp {
  0% { opacity: 0; -webkit-transform:translate3d(0, 323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0);}
}
@-moz-keyframes mottoMoveUp {
  0% { opacity: 0; -moz-transform:translate3d(0, 323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; -moz-transform: translate3d(0, 0, 0);}
}
@-o-keyframes mottoMoveUp {
  0% { opacity: 0; -webkit-transform:translate3d(0, 323px, 0); transform:translate3d(0, 323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
}
@keyframes mottoMoveUp {
  0% { opacity: 0; transform:translate3d(0, 323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; transform: translate3d(0, 0, 0);}
}

@-webkit-keyframes mottoMoveDown {
  0% { opacity: 0; -webkit-transform: translate3d(0, -323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0);}
}
@-moz-keyframes mottoMoveDown {
  0% { opacity: 0; -moz-transform: translate3d(0, -323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; -moz-transform: translate3d(0, 0, 0);}
}
@-o-keyframes mottoMoveDown {
  0% { opacity: 0; -webkit-transform: translate3d(0, -323px, 0); transform: translate3d(0, -323px, 0); }
  80% { opacity: 0; }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}
@keyframes mottoMoveDown {
  0% { opacity: 0; transform: translate3d(0, -323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; transform: translate3d(0, 0, 0);}
}
/* motto flip animation end */

@media  (max-width:767px){
  @-webkit-keyframes zoomOutDown {
    20% { -webkit-transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
    30% { -webkit-transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
    45% { -webkit-transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
    49% { -webkit-transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
    50%{ -webkit-transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
    100%{ -webkit-transform: scale3d(.85, .02, .02) translate3d(0, 0, 0); background:#E61717; }
  }
  @-moz-keyframes zoomOutDown {
    20% { -moz-transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
    30% { -moz-transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
    45% { -moz-transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
    49% { -moz-transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
    50%{ -moz-transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
    100%{ -moz-transform: scale3d(.85, .02, .02) translate3d(0, 0, 0); background:#E61717; }
  }
  @-o-keyframes zoomOutDown {
    20% { -webkit-transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0); transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
    30% { -webkit-transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
    45% { -webkit-transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
    49% { -webkit-transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
    50%{ -webkit-transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
    100%{ -webkit-transform: scale3d(.85, .02, .02) translate3d(0, 0, 0); transform: scale3d(0.8, .02, .02) translate3d(0, 0, 0); background:#E61717; }
  }
  @keyframes zoomOutDown {
    20% { transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
    30% { transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
    45% { transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
    49% { transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
    50%{ transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
    100%{ transform: scale3d(.85, .02, .02) translate3d(0, 0, 0); background:#E61717; }
  }

  .motto h3 {font-size:9vmax;}
  .motto.top, .motto.bottom {margin-left:-26.5vmax;}
}
@media (max-width:480px) {
  .motto h3 {font-size:6vmax;}
  .motto.top, .motto.bottom {margin-left:-15.5vmax;}
}
