@font-face { font-family: UniSansHeavy; src: url('assets/font/UniSans/UniSansHeavy.otf');}
@font-face { font-family: NHaasGroteskDSPro65Md; src: url('assets/font/NHaasGroteskDSPro-65Md/NHaasGroteskDSPro-65Md.woff');}
body { font-family: NHaasGroteskDSPro65Md, sans-serif; }

#ballz-intro-logo{ width: 100%; height: auto; }
.intro { font-size: 1.250em; font-style: italic; margin: 0; }

svg {
  display: block; fill: transparent; margin-left: auto; margin-right: auto;
  -webkit-animation: zoomOutDown 0.3s ease-in-out 1.5s forwards; ;
  -moz-animation: zoomOutDown 0.3s ease-in-out 1.5s forwards; ;
  -o-animation: zoomOutDown 0.3s ease-in-out 1.5s forwards; ;
  animation: zoomOutDown 0.3s ease-in-out 1.5s forwards; ;
}
svg .red{ fill:#E61717; stroke:#E61717; stroke-width:1; stroke-dasharray:745; stroke-dashoffset:745; }
svg .triangle.red{
  fill: #ffffff; stroke: #ffffff; stroke-width:1;
  -webkit-animation: strokeRed .3s linear 0.5s forwards;
  -moz-animation: strokeRed .3s linear 0.5s forwards;
  -o-animation: strokeRed .3s linear 0.5s forwards;
  animation: strokeRed .3s linear 0.5s forwards;
}
svg .triangle.white{ fill: #ffffff; stroke:#ffffff; stroke-width:2; }
svg .triangle.white.top{
  -webkit-animation: topFiller .2s linear 0.5s forwards;
  -moz-animation: topFiller .2s linear 0.5s forwards;
  -o-animation: topFiller .2s linear 0.5s forwards;
  animation: topFiller .2s linear 0.5s forwards;
}
svg .triangle.white.bottom{
  -webkit-animation: bottomFiller .2s linear 0.631s forwards;
  -moz-animation: bottomFiller .2s linear 0.631s forwards;
  -o-animation: bottomFiller .2s linear 0.631s forwards;
  animation: bottomFiller .2s linear 0.631s forwards;
}

/* Z animation start */
@-webkit-keyframes strokeRed {
  0%   { fill:#ffffff; }
  1%   { fill:#E61717; }
  100% { fill:#E61717; stroke:#E61717; }
}
@-moz-keyframes strokeRed {
  0%   { fill:#ffffff; }
  1%   { fill:#E61717; }
  100% { fill:#E61717; stroke:#E61717; }
}
@-o-keyframes strokeRed {
  0%   { fill:#ffffff; }
  1%   { fill:#E61717; }
  100% { fill:#E61717; stroke:#E61717; }
}
@keyframes strokeRed {
  0%   { fill:#ffffff; }
  1%   { fill:#E61717; }
  100% { fill:#E61717; stroke:#E61717; }
}

@-webkit-keyframes topFiller {
  0%   { -webkit-transform: rotate(0deg); -webkit-transform-origin: top right; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { -webkit-transform: rotate(-55deg); -webkit-transform-origin: top right; fill: transparent; stroke-width:0;}
}
@-moz-keyframes topFiller {
  0%   { -moz-transform: rotate(0deg); -moz-transform-origin: top right; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { -moz-transform: rotate(-55deg); -moz-transform-origin: top right; fill: transparent; stroke-width:0;}
}
@-o-keyframes topFiller {
  0%   { -webkit-transform: rotate(0deg); -webkit-transform-origin: top right; transform: rotate(0deg); transform-origin: top right; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { -webkit-transform: rotate(-55deg); -webkit-transform-origin: top right; transform: rotate(-55deg); transform-origin: top right; fill: transparent; stroke-width:0;}
}
@keyframes topFiller {
  0%   { transform: rotate(0deg); transform-origin: top right; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { transform: rotate(-55deg); transform-origin: top right; fill: transparent; stroke-width:0;}
}

@-webkit-keyframes bottomFiller {
  0%   { -webkit-transform: rotate(0deg); -webkit-transform-origin: bottom left; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { -webkit-transform: rotate(34deg); -webkit-transform-origin: bottom left; fill:transparent; stroke-width:0;}
}
@-moz-keyframes bottomFiller {
  0%   { -moz-transform: rotate(0deg); -moz-transform-origin: bottom left; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { -moz-transform: rotate(34deg); -moz-transform-origin: bottom left; fill:transparent; stroke-width:0;}
}
@-o-keyframes bottomFiller {
  0%   { -webkit-transform: rotate(0deg); -webkit-transform-origin: bottom left; transform: rotate(0deg); transform-origin: bottom left; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { -webkit-transform: rotate(34deg); -webkit-transform-origin: bottom left; transform: rotate(34deg); transform-origin: bottom left; fill:transparent; stroke-width:0;}
}
@keyframes bottomFiller {
  0%   { transform: rotate(0deg); transform-origin: bottom left; fill: #ffffff; stroke-width:1;}
  99% { fill: #ffffff; stroke-width:1; }
  100% { transform: rotate(34deg); transform-origin: bottom left; fill:transparent; stroke-width:0;}
}
/* Z animation end */

/* logo to line animation start */
@-webkit-keyframes zoomOutDown {
  20% { -webkit-transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
  30% { -webkit-transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
  45% { -webkit-transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
  49% { -webkit-transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
  50%{ -webkit-transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
  100%{ -webkit-transform: scale3d(0.7, .02, .02) translate3d(0, 0, 0); background:#E61717; }
}
@-moz-keyframes zoomOutDown {
  20% { -moz-transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
  30% { -moz-transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
  45% { -moz-transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
  49% { -moz-transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
  50%{ -moz-transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
  100%{ -moz-transform: scale3d(0.7, .02, .02) translate3d(0, 0, 0); background:#E61717; }
}
@-o-keyframes zoomOutDown {
  20% { -webkit-transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0); transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
  30% { -webkit-transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
  45% { -webkit-transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
  49% { -webkit-transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
  50%{ -webkit-transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
  100%{ -webkit-transform: scale3d(0.7, .02, .02) translate3d(0, 0, 0); transform: scale3d(0.8, .02, .02) translate3d(0, 0, 0); background:#E61717; }
}
@keyframes zoomOutDown {
  20% { transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
  30% { transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
  45% { transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
  49% { transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
  50%{ transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
  100%{ transform: scale3d(0.7, .02, .02) translate3d(0, 0, 0); background:#E61717; }
}
/* logo to line animation end */



.motto { position: absolute;text-align: center;left: 50%; font-family: UniSansHeavy, sans-serif;}
.motto h3 { color: black;font-size: 12vmax;margin:0;line-height: 18vmax; }

.motto.top {
  top: 50%;
  margin-top: -16vmax;
  margin-left: -35.6vmax;
  opacity: 0;
  -webkit-animation: mottoMoveUp .3s linear 2s forwards;
  -moz-animation: mottoMoveUp .3s linear 2s forwards;
  -o-animation: mottoMoveUp .3s linear 2s forwards;
  animation: mottoMoveUp .3s linear 2s forwards;
  height: inherit;
  width: inherit;
}
.motto.bottom {
  bottom: 50%;
  margin-bottom: -18.3vmax;
  margin-left:-35.1vmax;
  opacity: 0;
  -webkit-animation: mottoMoveDown .3s linear 2.5s forwards;
  -moz-animation: mottoMoveDown .3s linear 2.5s forwards;
  -o-animation: mottoMoveDown .3s linear 2.5s forwards;
  animation: mottoMoveDown .3s linear 2.5s forwards;
}

/* motto up and down flip animation start */
@-webkit-keyframes mottoMoveUp {
  0% { opacity: 0; -webkit-transform:translate3d(0, 323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0);}
}
@-moz-keyframes mottoMoveUp {
  0% { opacity: 0; -moz-transform:translate3d(0, 323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; -moz-transform: translate3d(0, 0, 0);}
}
@-o-keyframes mottoMoveUp {
  0% { opacity: 0; -webkit-transform:translate3d(0, 323px, 0); transform:translate3d(0, 323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
}
@keyframes mottoMoveUp {
  0% { opacity: 0; transform:translate3d(0, 323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; transform: translate3d(0, 0, 0);}
}

@-webkit-keyframes mottoMoveDown {
  0% { opacity: 0; -webkit-transform: translate3d(0, -323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0);}
}
@-moz-keyframes mottoMoveDown {
  0% { opacity: 0; -moz-transform: translate3d(0, -323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; -moz-transform: translate3d(0, 0, 0);}
}
@-o-keyframes mottoMoveDown {
  0% { opacity: 0; -webkit-transform: translate3d(0, -323px, 0); transform: translate3d(0, -323px, 0); }
  80% { opacity: 0; }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}
@keyframes mottoMoveDown {
  0% { opacity: 0; transform: translate3d(0, -323px, 0);}
  80% { opacity: 0; }
  100% { opacity: 1; transform: translate3d(0, 0, 0);}
}
/* motto flip animation end */


@keyframes glitchRed {
  20% {clip: rect(0px, 0px, 0px, 0px);}
  30% {clip: rect(77px, 999px, 152px, 0px);}
  31% {clip: rect(15px, 999px, 139px, 0px);}
  32% {clip: rect(69px, 999px, 145px, 0px);}
  33% {clip: rect(17px, 999px, 169px, 0px);}
  34% {clip: rect(20px, 999px, 16px, 0px);}
  35% {clip: rect(93px, 999px, 137px, 0px);}
  36% {clip: rect(31px, 999px, 170px, 0px);}
  37% {clip: rect(75px, 999px, 110px, 0px);}
  38% {clip: rect(97px, 999px, 136px, 0px);}
  39% {clip: rect(6px, 999px, 113px, 0px);}
  40% {clip: rect(11px, 999px, 14px, 0px);}
  41% {clip: rect(14px, 999px, 120px, 0px);}
  42% {clip: rect(69px, 999px, 159px, 0px);}
  43% {clip: rect(77px, 999px, 175px, 0px);}
  44% {clip: rect(61px, 999px, 125px, 0px);}
  45% {clip: rect(68px, 999px, 128px, 0px);}
  46% {clip: rect(59px, 999px, 197px, 0px);}
  47% {clip: rect(27px, 999px, 125px, 0px);}
  48% {clip: rect(53px, 999px, 175px, 0px);}
  49% {clip: rect(79px, 9999px, 180px, 0px);}
  50% {clip: rect(51px, 9999px, 189px, 0px);}
  60% {clip: rect(0px, 0px, 0px, 0px);}
}

.motto h3:after {
  content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: black;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
}
.motto.top .content h3:after{
  animation: glitchRed 2s infinite 2s linear alternate-reverse;
}
.motto.bottom .content h3:after{
  animation: glitchRed 2s infinite 4s linear alternate-reverse;
}


@keyframes glitchBlue {
  20% {clip: rect(0px, 0px, 0px, 0px);}
  30% {clip: rect(4px, 999px, 149px, 0px);}
  31% {clip: rect(1px, 999px, 177px, 0px);}
  32% {clip: rect(67px, 999px, 162px, 0px);}
  33% {clip: rect(53px, 999px, 130px, 0px);}
  34% {clip: rect(78px, 999px, 110px, 0px);}
  35% {clip: rect(88px, 999px, 121px, 0px);}
  36% {clip: rect(9px, 999px, 158px, 0px);}
  37% {clip: rect(47px, 999px, 188px, 0px);}
  38% {clip: rect(86px, 999px, 120px, 0px);}
  39% {clip: rect(4px, 999px, 14px, 0px);}
  40% {clip: rect(41px, 999px, 126px, 0px);}
  41% {clip: rect(78px, 999px, 153px, 0px);}
  42% {clip: rect(85px, 999px, 166px, 0px);}
  43% {clip: rect(33px, 999px, 138px, 0px);}
  44% {clip: rect(39px, 999px, 179px, 0px);}
  45% {clip: rect(57px, 999px, 130px, 0px);}
  46% {clip: rect(13px, 999px, 185px, 0px);}
  47% {clip: rect(23px, 999px, 155px, 0px);}
  48% {clip: rect(15px, 999px, 144px, 0px);}
  49% {clip: rect(100px, 999px, 135px, 0px);}
  50% {clip: rect(52px, 999px, 114px, 0px);}
  60% {clip: rect(0px, 0px, 0px, 0px);}
}





@keyframes glitchBlue {
  20% {clip: rect(0px, 0px, 0px, 0px);}
  50% {clip: rect(4px, 999px, 149px, 0px);}
  49% {clip: rect(1px, 999px, 177px, 0px);}
  48% {clip: rect(67px, 999px, 162px, 0px);}
  47% {clip: rect(53px, 999px, 130px, 0px);}
  46% {clip: rect(78px, 999px, 110px, 0px);}
  45% {clip: rect(88px, 999px, 121px, 0px);}
  44% {clip: rect(9px, 999px, 158px, 0px);}
  43% {clip: rect(47px, 999px, 188px, 0px);}
  42% {clip: rect(86px, 999px, 120px, 0px);}
  41% {clip: rect(4px, 999px, 14px, 0px);}
  40% {clip: rect(41px, 999px, 126px, 0px);}
  39% {clip: rect(78px, 999px, 153px, 0px);}
  38% {clip: rect(85px, 999px, 166px, 0px);}
  37% {clip: rect(33px, 999px, 138px, 0px);}
  36% {clip: rect(39px, 999px, 179px, 0px);}
  35% {clip: rect(57px, 999px, 130px, 0px);}
  34% {clip: rect(13px, 999px, 185px, 0px);}
  33% {clip: rect(23px, 999px, 155px, 0px);}
  32% {clip: rect(15px, 999px, 144px, 0px);}
  31% {clip: rect(100px, 999px, 135px, 0px);}
  30% {clip: rect(52px, 999px, 114px, 0px);}
  60% {clip: rect(0px, 0px, 0px, 0px);}
}

.motto h3:before {
  content: attr(data-text);
  position: absolute;
  left: -3px;
  text-shadow: -2px 0 blue;
  top: 0;
  color: black;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
}
.motto.top .content h3:before{
  animation: glitchBlue 2s infinite 2s linear alternate-reverse;
}
.motto.bottom .content h3:before{
  animation: glitchBlue 2s infinite 4s linear alternate-reverse;
}


@keyframes jerkwhole {
  40% { opacity:1; top:0; left:0;  transform:scale(1,1) skew(0,0);}
  41% { opacity:0.8; top:0px; left:-100px; transform:scale(1,1.2) skew(50deg,0);}
  42% { opacity:0.8; top:0px; left:100px; transform:scale(1,1.2) skew(-80deg,0);}
  43% { opacity:1; top:0; left:0; transform:scale(1,1) skew(0,0);}
}

@keyframes jerkwhole2 {
  40% { opacity:1; top:0; left:0;  transform:scale(1,1) skew(0,0);}
  41% { opacity:0.8; top:0px; left:-100px; transform:scale(1,1.2) skew(-50deg,0);}
  42% { opacity:0.8; top:0px; left:100px; transform:scale(1,1.2) skew(80deg,0);}
  43% { opacity:1; top:0; left:0; transform:scale(1,1) skew(0,0);}
}


.motto.top .content{
  animation: jerkwhole 2s infinite 2s linear alternate-reverse; position:relative;
}
.motto.bottom .content{
  animation: jerkwhole2 2s infinite 4s linear alternate-reverse; position:relative;
}

.black { color: #000000; }
.red { color: #E61717; }
.brief {
  position:absolute; bottom:50%; left:50%; margin-left:-34.5vmax; margin-bottom:-30vmax;
  opacity: 0;
  -webkit-animation: mottoMoveDown .1s linear 3s forwards;
  -moz-animation: mottoMoveDown .1s linear 3s forwards;
  -o-animation: mottoMoveDown .1s linear 3s forwards;
  animation: mottoMoveDown .1s linear 3s forwards;
}
.brief .black { text-align:left; margin:0; }



@media (min-width:1200px) {
  .brief { margin-left:-34.5vmax; margin-bottom:-22vmax; }
}
@media  (max-width:767px){
  @-webkit-keyframes zoomOutDown {
    20% { -webkit-transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
    30% { -webkit-transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
    45% { -webkit-transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
    49% { -webkit-transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
    50%{ -webkit-transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
    100%{ -webkit-transform: scale3d(.85, .02, .02) translate3d(0, 0, 0); background:#E61717; }
  }
  @-moz-keyframes zoomOutDown {
    20% { -moz-transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
    30% { -moz-transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
    45% { -moz-transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
    49% { -moz-transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
    50%{ -moz-transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
    100%{ -moz-transform: scale3d(.85, .02, .02) translate3d(0, 0, 0); background:#E61717; }
  }
  @-o-keyframes zoomOutDown {
    20% { -webkit-transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0); transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
    30% { -webkit-transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
    45% { -webkit-transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
    49% { -webkit-transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
    50%{ -webkit-transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
    100%{ -webkit-transform: scale3d(.85, .02, .02) translate3d(0, 0, 0); transform: scale3d(0.8, .02, .02) translate3d(0, 0, 0); background:#E61717; }
  }
  @keyframes zoomOutDown {
    20% { transform: scale3d(.478, .478, .478) translate3d(0, -60px, 0);}
    30% { transform: scale3d(.0472, .0472, .0472) translate3d(0, 0, 0); background: transparent; }
    45% { transform: scale3d(.0460, .0460, .0460) translate3d(0, 0, 0); background: transparent; }
    49% { transform: scale3d(.0450, .0450, .0450) translate3d(0, 0, 0); background: transparent; }
    50%{ transform: scale3d(.0430, .0430, .0430) translate3d(0, 0, 0); background:#E61717; }
    100%{ transform: scale3d(.85, .02, .02) translate3d(0, 0, 0); background:#E61717; }
  }

  .motto h3, .motto h3:after, .motto h3:before { font-size: 9vmax; line-height: 17vmax; }
  .motto.top { margin-left: -26.5vmax; margin-top: -15.8vmax; }
  .motto.bottom { margin-left: -26.5vmax; margin-bottom: -17.3vmax }
  .brief { margin-left:-26.5vmax; margin-bottom: -35vmax; }
}
@media (max-width:480px) {
  .motto h3, .motto h3:after, .motto h3:before { font-size:6vmax; line-height: 13vmax; }
  .motto.top { margin-left:-17.5vmax; margin-top: -12vmax;  }
  .motto.bottom { margin-left:-17.5vmax; margin-bottom: -13.5vmax;  }
  .brief { margin-left:-17.5vmax; margin-bottom:-36vmax; }
}
