body{ background: #fff; }
#ballz-intro-logo{ width: 100%; height: auto; }


.intro { font-size: 1.250em; font-style: italic; margin: 0; }

svg { width: 25em; display: block; fill: transparent; margin-top: 2em; margin-left: auto; margin-right: auto;
  /*stroke: #000;stroke-width: 0;stroke-dasharray: 745;animation: stroke 5s linear forwards;*/
}
svg .red{ fill: #E61717; stroke: #ffffff; stroke-width:1; }
svg .white{ fill: #ffffff; stroke:#ffffff; stroke-width:1; }

svg .triangle.white.top{
  animation: topfiller 5s linear forwards;
  /*animation-delay: 2s;*/
}
svg .triangle.white.bottom{
  animation: bottomfiller 5s linear forwards;
  animation-delay: 5s;
}

@keyframes topfiller {
  0%   { transform: rotate(0deg); transform-origin: top right; }
  100% { transform: rotate(-50deg); transform-origin: top right;}
}
@keyframes bottomfiller {
  0%   { transform: rotate(0deg); transform-origin: bottom left; }
  100% { transform: rotate(50deg); transform-origin: bottom left;}
}
